server:
  port: 8084

spring:
  application:
    name: auth-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: postgres
  
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: mySecretKey123456789012345678901234567890
  expiration: 86400000
  refresh-expiration: 604800000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/