server:
  port: 8888

spring:
  application:
    name: config-server
  
  cloud:
    config:
      server:
        git:
          uri: https://github.com/your-org/config-repo
          default-label: main
          search-paths: configs
        # Or use native file system
        native:
          search-locations: classpath:/configs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/